body {
  background-color: #ebebeb;
  overflow-x: auto;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 9999px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
}

@keyframes warning {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.1);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(255, 99, 71, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 99, 71, 0);
  }
}

.warningCard {
  animation: warning 1.7s ease-in-out infinite alternate;
  border-radius: 0.5rem;
}