body {
  background-color: #ebebeb;
  overflow-x: auto;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 9999px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
}

@keyframes warning {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.1);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(255, 99, 71, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 99, 71, 0);
  }
}

.warningCard {
  animation: warning 1.7s ease-in-out infinite alternate;
  border-radius: 0.5rem;
}

.active {
  outline-width: 1px;
  outline-offset: 0;
  outline-color: #F57D1F;
  outline-style: solid;
  animation: animateOutline 1.3s ease infinite;
}

@keyframes animateOutline {
  0% {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: rgba(245, 125, 31, 0); /* rgba for #F57D1F */
  }

  10% {
    outline-color: rgba(245, 125, 31, 0.75); /* rgba for #F57D1F */
  }

  /* The animation finishes at 50% */
  50% {
    outline-width: 7px;
    outline-offset: 4px;
    outline-color: rgba(245, 125, 31, 0); /* rgba for #F57D1F */
  }

  100% {
    outline-width: 7px;
    outline-offset: 4px;
    outline-color: rgba(245, 125, 31, 0); /* rgba for #F57D1F */
  }
}